<p>
  <b>Title:</b>
  <%=h @book.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @book.description %>
</p>

<p>
  <b>Loaned:</b>
  <%=h @book.loaned %>
</p>

<p>
  <b>Owner:</b>
  <%=link_to @book.member.name, member_path(@book.member) %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
