  <h1>New member</h1>

  <% form_for(@member) do |f| %>
    <%= f.error_messages %>

    <p class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p class="field">
      <%= f.label :contact %><br />
      <%= f.text_field :contact %>
    </p>
    <p class="submit">
      <%= f.submit 'Create' %>
    </p>
  <% end %>
  
  <%= link_to 'Back', members_path %>